@charset "utf-8";

#quoteButton {
  font-size: 30px;
}
.jumbotron {
  height: 250px;
}
#headLine {
  color: red;
  font-family: "Tangerine", serif;
  matgin-bottom: 40px;
}
#quote {
  margin-top: 30px;
  font-family: italic;
  color: green;
}
